@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,700);
.main {
	font-family: 'Poppins', sans-serif;
}
[class*='__container'] {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0px 15px;
}
[class*='__block'] {
	max-width: 816px;
	margin: 0 auto;
}
img {
	max-width: 100%;
}
.first__block__container {
}
.main__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #212529;
	margin-bottom: 25px;
	max-width: 580px;
}
.main__paragraph {
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	color: #6c757d;
	margin-bottom: 25px;
}
.image__section__container {
	margin: 80px auto;
}
.images {
	font-size: 0;
	border-radius: 5px;
}
.sub {
	margin-right: 30px;
}
.second__block__container {
}

.third__block__container {
}
.second__index {
	text-align: center;
}
.link {
	padding: 30px;
	border: 5px solid peru;
	display: inline-block;
	border-radius: 50%;
	background-color: sandybrown;
	color: #000;
	box-shadow: 0 10px 0 0 red;
	margin-bottom: 20px;
	position: relative;
	font-style: italic;
	height: 120px;
	width: 120px;
	font-weight: bold;
	justify-content: center;
}
.link:hover {
	top: 3px;
	box-shadow: 0 2px 0 0 red;
}
